// 主要按钮颜色
$mainOperaBack: #1677ff;
$mainOperaColor: #fff;
// 次要按钮颜色
$defaultOperaBack:#ccc;
$defaultOperaColor: #fff;
// 主体颜色
$mainBack: #1677ff;
$mainColor: #1677ff;
// 公共阴影
$commonShadow: 0px 10px 15px -3px rgba(0,0,0,0.3);